0.0.0.0:8001 {
  root /var/www/html/dist
  gzip
  index landing.html
  log stdout

  proxy /blog blog.boris.tech.park.bitcron.com:80 {
    without /blog
    header_upstream Host blog.boris.tech
    header_upstream X-Real-IP {remote}
    header_upstream X-Forwarded-For {remote}
    header_upstream X-Forwarded-Proto {scheme}
    header_downstream X-Robots-Tag noindex
  }
}
